language: go
dist: xenial
go:
  - '1.10'
  - '1.11'
  - '1.12'
  - '1.13'
  - 'tip'

before_install:
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover

script:
  #  - go test -v -cover
  - $GOPATH/bin/goveralls -v -service=travis-ci
